    {
    margin : 0 px;
    font-family:Arial, Helvetica, sans-serif;
    }

    #titulosuperior{
    margin-left:50 px;   
    padding-top:150 px; 
    font-size:75 px;
    letter-spacing:-1.5 px;
    }

    #textosuperior{
    margin-left:50 px;
    margin-top:35 px;
    padding-bottom:150 px;
    font-size:25 px;
    letter-spacing:0 px;
    }
    
    #menusuperior{
        background-color: ;
        color: ;
    }


#menuinformativo {
            background-color: ;
            display: grid;
            grid-auto-flow: column;
            columns: auto;
        }
        #textoinformativo{
            display: grid;
            align-items: center;
            font-size: 40px ;
            font-weight: bolder;
            padding: 75px;
            margin: left 20px;
        }
        





        #menuconteudo {
        background-color:rgb(30, 29, 29) ;
        display: grid;
        grid-auto-flow: column;
        column:auto
        }
        
        image{
            margin: 100px 25px 100px 100px;

        }
    
    
        #textoconteudo{
            text-align: justify;
            font-size: 40px;
            font-weight: bolder;
            margin: 260px;
        }
        
        #imagen, #textoconteudo, #formulario,
        buttom{
            backgroundcolor: #c07212;
            height: 70px;
            with: 220px;
            color: #eaece5;
            border: 0px;


            bottom: 100px;
            fonte wight: boulder;
            fonte-size: 20px;
            cursor pointer;
        }
            bottom.over
{ 
    
                
        


        #formulario 
